%div.form
  = simple_form_for @contact_form do |f|
    = f.input :email, required: true, pattern: /\A[\w+\-.]+@[a-z\d\-.]+\.[a-z]+\z/i, placeholder: 'user@domain.com'
    = f.input :description, required: true, input_html: { minlength: 100 }
    = f.input :category, collection: ContactForm::CATEGORIES, prompt: 'Choose...', required: true
    %div#submit
      = f.submit 'Wyślij zgłoszenie'

%div.navigation
  =link_to 'Go back', root_path
